/* colors
-------------------------------*/
$color-main-lightest: #E4EFF7;
$color-main-light: #0F68B7;
$color-main: #223A70;
$color-main-dark: #1D2088;

$color-accent: #F58808;

$color-gray-light: #F5F5F5;
$color-gray: #DDDDDD;

$color-separate: #CCCCCC;
$color-base: #333333;

$white: #FFFFFF;
$black: #000000;

/* size
-------------------------------*/
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;