/* colors
-------------------------------*/
$color-main-lightest: #E4EFF7;
$color-main-light: #0F68B7;
$color-main: #223A70;
$color-main-dark: #1D2088;

$color-accent: #F58808;

$color-gray-light: #F5F5F5;
$color-gray: #DDDDDD;
$color-gray-dark: #888888;

$color-separate: #CCCCCC;
$color-base: #333333;

$white: #FFFFFF;
$black: #000000;

/* font-size
-------------------------------*/
$font-sm: clamp(1rem, 7px + 1vw, 1.3rem);
$font-md: clamp(1.2rem, 9px + 1vw, 1.8rem);
$font-lg: clamp(1.4rem, 11px + 1vw, 2.3rem);
$font-xl: clamp(1.7rem, 3.2vw, 3.75rem);

/* size
-------------------------------*/
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;